.btn{
    background-color: #72c02c;
    color: #fff;
    padding: 1em 1em;
    border: 1px solid #DDD;
    border-radius: 0.75em;
    box-sizing: border-box;
    display: flex;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    justify-content: center;


}

.primary{
    background-color: whitesmoke;
    color: #fff;

}

.link{
    background-color: inherit;
    color: whitesmoke;
    border: none;
    text-decoration: underline;
}
